



/* containerProductsCard_ */
.containerProductsCard_{
    border: 1px solid red;
    margin: 0 auto;
    width: 1177px;
    height: 747px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
   top: 1328px;

}