/* container_banner_one */
.container_banner_three {
  margin: 0 auto;
  width: 100%;
  height: 747px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2995px;


  .are_img_banner_three {
    width: 652px;
    height: 747px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--bg-color-banner);
    img {
      width: 523.38px;
      height: 528.17px;
      /* rotate: 7.54deg; */
    }
  }
}

.area_content_banner_three {
  width: 652px;
  height: 747px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  div {
    width: 487px;
    height: 546px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  h1 {
    width: 487px;
    height: 42px;
    font-family: var(--font-nunito-sans), sans-serif;
    color: var(--color-text-bolder);
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 4%;
    text-transform: uppercase;
    font-weight: 700;
  }

  p {
    width: 487px;
    height: 225px;
    font-family: var(--font-nunito-sans), sans-serif;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 5%;
    color: var(--color-text-bolder);
    margin-bottom: 0;
  }
}
/* ==============  MEDIA SCREEN ============== */


/* 🖥️🖥️ Telas ultra-largas (Full HD+ e 4K) */
@media screen and (min-width: 1920px){
  /* container_banner_one */
.container_banner_three {
  margin: 0 auto;
  width: 1177px;
  height: 747px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2995px;
  left: 371.5px;

  .are_img_banner_three {
    width: 652px;
    height: 747px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--bg-color-banner);
    img {
      width: 523.38px;
      height: 528.17px;
      rotate: 7.54deg;
    }
  }
}

.area_content_banner_three {
  width: 652px;
  height: 747px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  div {
    width: 487px;
    height: 546px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  h1 {
    width: 487px;
    height: 42px;
    font-family: var(--font-nunito-sans), sans-serif;
    color: var(--color-text-bolder);
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 4%;
    text-transform: uppercase;
    font-weight: 700;
  }

  p {
    width: 487px;
    height: 225px;
    font-family: var(--font-nunito-sans), sans-serif;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 5%;
    color: var(--color-text-bolder);
    margin-bottom: 0;
  }
}
}
/* 🖥️ Telas grandes (HD ou superiores) */
@media screen and (min-width: 1366px) and (max-width: 1919px) {
  /* Ex: monitores full HD padrão */
}

/* 💻 Laptops e desktops menores (modo paisagem) */
@media screen and (min-width: 1024px) and (max-width: 1365px) and (orientation: landscape) {
  /* Ex: notebooks comuns (13" até 15"), tablets em modo paisagem */
}
/* 📱📲 Celulares grandes e tablets pequenos (modo retrato) */
@media screen and (min-width: 769px) and (max-width: 1023px) and (orientation: portrait) {
  /* Ex: tablets em pé, celulares grandes como iPhone Pro Max */
}
/* 📱 Celulares médios/grandes (modo retrato) */
@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
  /* Ex: iPhone 12, Galaxy S21, dispositivos intermediários */
}
/* 📱 Celulares pequenos (modo retrato) */
@media (max-width: 480px) {
  /* Ex: iPhone SE, Galaxy S5 */
  /* container_banner_one */
.container_banner_three {
  margin: 0 auto;
  width: 391px;
  height: 732px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 2636px;

  .are_img_banner_three {
    width: 391px;
    height: 747px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--bg-color-banner);

    img {
      width: 391px;
      height: 390px;
      /* rotate: 7.54deg; */
    }
  }
}

.area_content_banner_three {
  width: 343px;
  height: 266px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  div {
    width: 343px;
    height: 266px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 8px;
  }
  h1 {
    width: 343px;
    height: 42px;
    font-family: var(--font-nunito-sans), sans-serif;
    color: var(--color-text-bolder);
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 4%;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 28px;
  }

  p {
    width: 343px;
    height: 225px;
    font-family: var(--font-nunito-sans), sans-serif;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 5%;
    color: var(--color-text-bolder);
    margin-bottom: 0;
    
  }
}
}
@media (max-width: 390px) {
  /* Ex: iPhone SE, Galaxy S5 */
  /* container_banner_one */
.container_banner_three {
  margin: 0 auto;
  width: 391px;
  height: 732px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 2636px;

  .are_img_banner_three {
    width: 391px;
    height: 747px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--bg-color-banner);

    img {
      width: 391px;
      height: 390px;
      /* rotate: 7.54deg; */
    }
  }
}

.area_content_banner_three {
  width: 343px;
  height: 266px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  div {
    width: 343px;
    height: 266px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 8px;
  }
  h1 {
    width: 343px;
    height: 42px;
    font-family: var(--font-nunito-sans), sans-serif;
    color: var(--color-text-bolder);
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 4%;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 28px;
  }

  p {
    width: 343px;
    height: 225px;
    font-family: var(--font-nunito-sans), sans-serif;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 5%;
    color: var(--color-text-bolder);
    margin-bottom: 0;
    
  }
}
}

@media (max-width: 320px) {
  /* Ex: iPhone SE, Galaxy S5 */
  /* container_banner_one */
.container_banner_three {
  margin: 0 auto;
  width: 320px;
  height: 732px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 2530px;

  .are_img_banner_three {
    width: 320px;
    height: 747px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--bg-color-banner);

    img {
      width: 320px;
      height: 320px;
      /* rotate: 7.54deg; */
    }
  }
}

.area_content_banner_three {
  width: 320px;
  height: 266px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  div {
    width: 320px;
    height: 266px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 8px;
  }
  h1 {
    width: 280px;
    height: 42px;
    font-family: var(--font-nunito-sans), sans-serif;
    color: var(--color-text-bolder);
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 4%;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 28px;
  }

  p {
    width: 280px;
    height: 225px;
    font-family: var(--font-nunito-sans), sans-serif;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 5%;
    color: var(--color-text-bolder);
    margin-bottom: 0;
    
  }
}
}