/* HEADER CONTAINER */
.container_header {
  width: 100%;
  height: 148px;
  background-color: var(--colorbg-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow:0px 0px 8px #00000029;
}
/* sale_ */
.sale_ {
  width: 100%;
  height: 30px;
  background-color: var(--bg-sale);
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-sale_ */
  .text-sale_ {
    width: 546px;
    height: 22px;
    left: 687px;
    border-radius: 4px;
    display: flex;
    top: 4px;
    font-family: var(--font-nunito-sans), sans-serif;
    h5 {
      font-family: var(--font-nunito-sans), sans-serif;
    }
    p {
      color: var(--colorbg-white);
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0%;
      span {
        background-color: var(--bg-sale-desc);
        width: 63px;
        height: 16px;
        top: 7px;
        left: 732px;
        border-radius: 4px;
      }
    }
  }
}

/* container_area_register_ */
.container_area_register_ {
  width: 1261px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content:space-between;

  /* logo_ */
  .logo_ {

    width: 152.58px;
    height: 27.08px;
    top: 52px;
    left: 330px;
  }
  /* area_input */
  .area_input {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 579px;
    height: 38px;
    top: 47px;
    left: 949px;
    input {
      width: 579px;
    }
  }
  /* area_register */
  .area_register {

    width: 164.31px;
    height: 28px;
    top: 52px;
    left: 1417px;
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* primery-group */
    .primery-group {
      width: 115.57px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      img {
        width: 20.57px;
        height: 24px;
      }
      p {

        width: 87px;
        height: 28px;
        font-family: var(--font-nunito-sans), sans-serif;
        left: 28.57px;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0%;
        margin-bottom: 0;
      }
    }
    /* two-group */
    .two-group {
      width: 24.74px;
      height: 24px;
      .anticon{
       font-size: 24.74px;
       cursor: pointer; 
      }
     
    }
  }
}

/* container_area_category */
.container_area_category {
  width: 1261px;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content:space-between;
  position: relative;
}

/* CUSTOMIZAÇÃO DO LI DO MENU DE OPÇÕES - HEADER  🟢*/
.custom-hover {
  position: relative;
  cursor: pointer;
  flex: 1;
}

/* Efeito de fundo deslizante */
.custom-hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--color-bg); /* Cor do efeito */
  transition: height 0.3s ease-in-out;
  z-index: 0;
}
.custom-hover:hover::after {
  height: 100%;
}
/*  Garante que o span dentro do li fique branco ao passar o mouse */
.custom-hover:hover span {
  color: white !important;
}
