@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-nunito-sans), sans-serif; 
  overflow-x: hidden;
}


/* Definindo variáveis globais no arquivo CSS (geralmente em styles/globals.css ou styles/variables.css) */
/* CORES DO PROJETO 🟢 🔴 🔵 🟡 🟣*/
:root {
  --bg-sale: #005CFF;
  --colorbg-white: #FFFFFF;
  --bg-sale-desc:#6220C1;

  --color-bg: #252927;
  --color-bg-button-carrosel:#252927;
  
}


